a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

input, textarea{
  width: 100%;
  padding: 5px!important;
  box-sizing:  border-box;

}
.required label:after {
  content: "*";
}
