a:link {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
input {
    height: 30px;
  }

input, textarea{
  width: 100%;
  padding: 5px!important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:  border-box;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(169,169,169)

}


.required label:after {
  content: "*";
}
