{% extends "base.html" %}

{% block content_title %}
  New Rant
{% endblock content_title %}

{% block content %}
<div class="container align-self-center align-items-start">

<form method="post" action="{% url 'rants_new_rant' %}" class="font-weight-bold align-text-top align-items-start">

  <table>
    {{ form.as_table }}
    <tr>
      <td>&nbsp</td>
      <td><input type="submit" value="Create Rant"</td>
    </tr>
  </table>

  {% csrf_token %}
</form>
</div>
{% endblock content %}
