{% extends "base.html" %}
{% block content_title %}
  Naija Rants
{% endblock content_title %}


{% block index_content %}
        <!-- Example row of columns -->
        <div class="row">

        <div class="col-xs-12 col-md-8">

        <div class="row">
              <!-- Main jumbotron for a primary marketing message or call to action -->
              <div class="jumbotron bg-success" style="width: 100%;">
                <div class="container">
                  <!--h1 class="display-3">Naija Rants</h1-->
                  <h2>Tell the world, what is on your mind.</h2>
    
                  <h4>
                  <a href="{% url 'accounts_login' %}" >Login </a>
                   or
                  <a href="{% url 'accounts_new_alias' %}">Create an account! </a>
                  or
                  <a href="{% url 'rants_new_rant' %}">Anonymously rant or report an event. </a>
                </h4>
    
                </div> 
               
             </div> <!-- Jumbotron  -->
              <form>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Example textarea</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  <label for="exampleFormControlFile1">Upload a file or picture</label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>

              </form>
            
         </div> <!-- col8 row -->
          {% for rant in rants_list  %}
            <div class="col-md-6">
                <h3>{{rant.title}} </h3>
                <p>{{ rant.body  | slice:":200" | linebreaks }}</p>
                <p>
                  <!--a href="{% url 'rant_detail' id=rant.id rant_title=rant.title %}" class="btn btn-primary">Full Details</a -->
                  <a href="{{ rant.get_absolute_url }}" class="btn btn-primary">Full Details</a>

                </p>
           </div>
          {% endfor %}
          
        </div> <!-- col-xs-12 col-sm-8 -->


        <div class="col-md-4" >
          <div class="card h-25  border-warning" >
            <div class="card-header text-white bg-info text-center">
              <h3>In the News</h3>
            </div>
            <div class="card-body" style="overflow: scroll;">

              {% autoescape off %}
            
              {% for entry in news_article_list %}
                <h4>{{ entry.title }}</h4>
                <p>{{ entry.description | safe }}</p>
                <p>
                  <a href="{{entry.url}}" target="_blank" class="btn btn-primary">Veiw Details</a>
                </p>
              {% endfor %}
        
      
              {% endautoescape %}
            </div>
          </div>

        </div>

      </div> <!-- Biggest row -->


{% endblock index_content %}
