{% extends "base.html" %}
{% block content_title %}
  "Naija Rants"
{% endblock content_title %}


{% block index_content %}
        <!-- Example row of columns -->
        <div class="row">

        <div class="col-xs-12 col-md-8">

        <div class="row">
          <!-- Main jumbotron for a primary marketing message or call to action -->
          <div class="jumbotron bg-success" style="width: 100%;">
            <div class="container">
              <!--h1 class="display-3">Naija Rants</h1-->
              <h3>Tell the world, what is on your mind.</h3>

              <a href="{% url 'accounts_login' %}">Login </a>
               to
              <a href="{% url 'rants_new_rant' %}">Create a Rant! </a>
              or
              <a href="{% url 'rants_new_rant' %}">Rant anonymously. </a>
            </div>
          </div>

          {% for rant in rants  %}
            <div class="col-md-6">
                <h3>{{rant.title}} </h3>
                <p>{{ rant.body  | slice:":200" | linebreaks }}</p>
                <p>
                  <a href="{% url 'rant_detail' rant_title=rant.title %}" class="btn btn-primary">Full Details</a>
                </p>
           </div>
          {% endfor %}
          </div> <!-- col8 row -->
        </div> <!-- col-xs-12 col-sm-8 -->


        <div class="col-md-4" >
          <div class="card h-50" style="overflow: scroll;" >
            <div class="card-header  text-white bg-primary text-center">
              <h2>In the News</h2>
            </div>

            {% autoescape off %}
              {% block content %}
              {% endblock content %}
            {% endautoescape %}
          </div>

        </div>

      </div> <!-- Biggest row -->


{% endblock index_content %}
