{% extends "base.html" %}
{% block content_title %}
  Naija Rants
{% endblock content_title %}


{% block index_content %}
        <!-- Example row of columns -->
        <div class="row">

        <div class="col-xs-12 col-md-8">

        <div class="row">
          <!-- Main jumbotron for a primary marketing message or call to action -->
        
          {% include "rants/new_rant.html" %}


          {% for rant in object_list  %}
            <div class="col-md-6">
                <h3>{{rant.title}} </h3>
                <p>{{ rant.body  | slice:":200" | linebreaks }}</p>
                <p>
                  <!--a href="{% url 'rant_detail' id=rant.id rant_title=rant.title %}" class="btn btn-primary">Full Details</a -->
                  <a href="{{ rant.get_absolute_url }}" class="btn btn-primary">Full Details</a>

                </p>
           </div>
          {% endfor %}
          </div> <!-- col8 row -->
        </div> <!-- col-xs-12 col-sm-8 -->


        <div class="col-md-4" >
          <div class="card h-50" style="overflow: scroll;" >
            <div class="card-header  text-white bg-primary text-center">
              <h2>In the News</h2>
            </div>

            {% autoescape off %}
            {% for articles in news_article_list  %}

            {% for entry in articles %}
              <h4>{{entry.title}}</h4>
              <p>{{ entry.description | safe }}</p>
              <p>
                <a href="{{entry.url}}" target="_blank" class="btn btn-primary">Veiw Details</a>
              </p>
            {% endfor %}
      
      {% endfor %}
            {% endautoescape %}
          </div>

        </div>

      </div> <!-- Biggest row -->


{% endblock index_content %}
